<hr>
<h3>返答</h3>
<% @replys.each do |reply| %>
  <div class="col-md-10 offset-md-1 my-2">
    <%= simple_format reply.body %>
    <!--  <%= link_to reply.body, answer_reply_path(@answer) %> -->
    <hr>
  </div>
<% end %>