<!-- app/views/answers/_form.html.erb -->

<%= form_with model: [theme, answer], local: true do |form| %>
  <%= render "shared/errors", obj: answer %>
  <div class="form-group">

    <%= form.text_area :body, rows: 10, class: "form-control" %>
  </div>
  <%= form.submit "回答", class: "btn btn-primary btn-lg" %>
<% end %>